body {
	font-family: "Open Sans", sans-serif;
	color: #5D5D5D;
	background-color: #ffffff;
	overflow-x: hidden;
	padding: 0;
	margin:0;
}
/* maybe too weak font-color: #a29e9d*/	
/* Navigation bar #a29e9d* body: #e0e0e0*/	
.topnavbar {
	background-color: inherit;
	overflow:hidden;
	font-size: 1em;
	width: 100%;
	height: 50px;
	display: inline-block;
	box-sizing: border-box;
	/*border-bottom: solid 1px #555353;*/
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.05);
	z-index: -1;
}
/*#f4f0ec , #555353*/	
.topnavbar #namn {
	font-size: 0.8em;
	color: #555353;
	padding-left: 5%;
	padding-top: 0.5%;
	display: inline-block;
}
.topnavbar #menu{
	float: right;
	list-style-type: none;
	padding: 0px;
	border: 0px;
	margin: 0.5%;
	margin-right: 5%;
	text-align: right;
	display: inline-block;
}

  .topnav a.icon {
    float: right;
    display: block;
  }

.topnavbar a{
	float:right;
	color: #555353;
	text-align: right;
	padding: 25px 50px 3px 100px;
	margin: -10px 5px;
	text-decoration: none;
	font: 400 18 px "Open Sans", sans-serif;
}

.topnavbar li.current a{
	float: left;
}
.topnavbar li.current a:after {
	content: none;
	display: block;
	margin: 0 auto;
	width: 99%;
	color: #deba9c;
}

.overlay-container{
	height: auto;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap !important;
	margin:0;
	padding: 7%;
	padding-top: 5%;
	gap: 10%;
}

.container-left{
	width:45%;	
	display: flex;
	position: relative;
	text-align: center;
	height: auto;
	
}

.slide-img{
	height: auto;
	display:flex-block;
	align-content: center;
	position: absolute;

		
}
.slide-img img{
	height: auto;
	object-fit: contain !important;	
}

#i1,#i2,#i3,#i4{
	display: none;
}
.pre, .nxt{
	position: absolute;
	top: 50%;
	z-index: 99;
	cursor: pointer;
}
.pre{
	left:-1%;
	width: 0;
	height: 0;
	border-top: 1.5vh solid transparent;
	border-bottom: 1.5vh solid transparent;
	border-right: 1.5vh solid #e7e5e5;
}
.nxt{
	right: -1%;
	width: 0;
	height: 0;
	border-top: 1.5vh solid transparent;
	border-bottom: 1.5vh solid transparent;
	border-left: 1.5vh solid #e7e5e5;
}

.nav{
	width: 100%;
	height: 3vh;
	bottom: -595%;
	display:flex-block;
	align-content: center;
	position: absolute;
	text-align: center;
	z-index: 99;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four{
	z-index: 9;
} 

.container-right{
	width:31%;
	position: static;
	margin: auto;

}
.rubrik-container{
	padding-top: 50%;
	width:100%;
	font-size:1.2vw;
	font-style:italic;
	line-height: 1vw;

}
.description-container{
	width:100%;
	font-size:0.6vw;

}
.smallscreen-container{
	width:100%;
	height:100%;
	padding-top: 15%;
	display: none;
	text-align:center;
	overflow: hidden;
	visibility:hidden;
}
.textbox{
	width:100%;
	padding-top: 15% ;
	text-align:left;
}
.rubrik-container2{
	width:100%;
	font-size:3.3vw;
	font-style:italic;
}
.description-container2{
	width:100%;
	font-size:2.1vw;
	padding-top:1.9vw;
}
.slide-container{
	width:100%;
	display: flex;
	align-items:center;
	justify-content: center;
	gap:1%;
	position: relative;
	overflow-x:scroll;
	overflow-y: hidden;
	white-space: no-wrap;
	scroll-snap-type: x mandatory;
}
.left{
	background:rgba(228,231,229, 0.4);
	width: 6%;

	position: absolute;
	left: -3%;
	overflow: visible;
	z-index: 99;
}
.right{
	background:rgba(228,231,229, 0.4);
	width: 6%;
	
	position: absolute;
	right: -3%;
	overflow: visible;
	z-index: 99;
}

.slider-img{
	display: inline-block;
	scroll-snap-align: center;

}
.slider-img #img1,#img2,#img3{
	width: 80vw	;
	padding:0 10vw 0 10vw;
}
.aut-img{
	width: 80vw	;
	padding:15% 0 20% 0;
}

@media only screen and (max-width: 820px){
	.overlay-container{display:none; visibility: hidden;}
	.smallscreen-container{display:block; visibility: visible;}

		
}

/*
	.rubrik-container{
		top: 70%;
		text-align: center; 
		font-size:2.7vw;
}
	.description-container{
		top: 74%;
		text-align: center; 
		font-size:1.4vw;
}
}
	.nav{
		width: 100%;
		height: 3vh;
		bottom: -605%;
}*/

