body {
	font-family: "Open Sans", sans-serif;
	color: #a29e9d;
	background-color: #ffffff;
	overflow-x: hidden;
	padding: 0;
	margin:0;
}

/* Navigation bar #a29e9d* body: #e0e0e0*/	
.topnavbar {
	background-color: inherit;
	overflow:hidden;
	font-size: 1em;
	width: 100%;
	height: 50px;
	display: inline-block;
	box-sizing: border-box;
	/*border-bottom: solid 1px #555353;*/
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.05);
	z-index: -1;
}
/*#f4f0ec , #555353*/	
.topnavbar #namn {
	font-size: 0.8em;
	color: #555353;
	padding-left: 5%;
	padding-top: 0.5%;
	display: inline-block;
}
.topnavbar #menu{
	float: right;
	list-style-type: none;
	padding: 0px;
	border: 0px;
	margin: 0.5%;
	margin-right: 5%;
	text-align: right;
	display: inline-block;
}

  .topnav a.icon {
    float: right;
    display: block;
  }

.topnavbar a{
	float:right;
	color: #555353;
	text-align: right;
	padding: 25px 50px 3px 100px;
	margin: -10px 5px;
	text-decoration: none;
	font: 400 18 px "Open Sans", sans-serif;
}

.topnavbar li.current a{
	float: left;
}
.topnavbar li.current a:after {
	content: none;
	display: block;
	margin: 0 auto;
	width: 99%;
	color: #deba9c;
}
.middlescreen-container{
	align-content: center;
	padding: 4%;
	display: flex;
	flex-wrap: wrap;
	width: 92%;
	visibility:hidden;
}

.smallscreen-container {
	align-content: center;
	padding: 4%;
	display: block;
	visibility:hidden;
	width: 92%;
}
.scrollout-list{
	display: flex;
	justify-content: left;
	gap: 0%;
	height:100%;
	padding: 0;
	margin: 0;
	list-style: none;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
	min-width: 1400px;
	width: 100%;
}
.item{
	flex-shrink:0;
	width: auto;
	height: 35vh;
	overflow-y: hidden;
	scroll-snap-align: center;
	min-width: 0;
}
.item img{
	width: 100%;
	height: auto;
	justify-content: left;
}

.project-container {
	align-content: center;
	padding: 3%;
	display: grid;
	grid-column-gap:8%;
	grid-row-gap: 5%;
	grid-template-columns: 1fr 1fr;
	visibility: visible;
}
@media only screen and (max-width: 1470px) {
	.project-container{display:none; visibility: hidden;}
	.smallscreen-container{display:block; visibility: visible;}
}

.hem-container {
	display:grid;
	grid-template-columns: repeat(3, calc(((100vw-4rem)/3)));
	grid-gap: 1 rem;
	grid-template-rows: auto;
	margin: 1rem 0;
	padding: 0 1rem;
}
.hem-item img{
	width: 100%;
	height: auto;
}
@media only screen and (min-width: 600px) {
	.hem-container {
		grid-template-columns:repeat( 2, 1fr ) ;
		grid-column-gap: 2%;
		grid-row-gap: 50px;
		
}
@media only screen and (min-width: 1400px) {
	.hem-container {
		grid-template-columns: repeat( 3, 1fr );
		grid-column-gap: 2%;
		grid-row-gap: 50px;
		overflow: hidden;
}
#hem5 {
	grid-column: 2 / 3;
	grid-row: 2 / 4;
}
.slider{
	min-width:200vw;
	height: 75vh;
	display: flex;
	background:#a0dadb;
	
}
.slide{
	padding-top: 2%;
	width: 200vw;
	height:65vh;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
}
.slide img{
	height: 100%;
	width: 100%;
	object-fit: contain;

}

.slide-container{
	margin: 0px auto;
	margin-top: 0;
	position: relative !important;
	width: auto;
	height: 60vh;
	padding-bottom: 10%;
	text-align: center;


}
.slide-img{
	width: 60%;
	display:flex-block;
	align-content: center;
	position: absolute;
	
}
.slide-img img{
	width: 100%;
	height: 100%;
	object-fit: contain !important;	
}

#i1,#i2,#i3,#i4{
	display: none;
}
.pre, .nxt{
	position: absolute;
	padding-left: 0%;
	padding-right: 0%;
	top: 50%;
	z-index: 98;
	cursor: pointer;
	background:#c674f4;
}
.pre{
	left:0;
	width: 0;
	height: 0;
	border-top: 1.5vh solid transparent;
	border-bottom: 1.5vh solid transparent;
	border-right: 1.5vh solid #e7e5e5;
}
.nxt{
	right: 0;
	width: 0;
	height: 0;
	border-top: 1.5vh solid transparent;
	border-bottom: 1.5vh solid transparent;
	border-left: 1.5vh solid #e7e5e5;
}
.nav{
	width: 100%;
	height: 3vh;
	bottom: -25%;
	position: absolute;
	text-align: center;
	z-index: 99;
	background:#8ff474;
}
.dots{
	top: 1vh;
	width: 1.5vh;
	height: 1.5vh;
	margin: 0 1vh;
	position: relative;
	border-radius: 50%;
	display: inline-block;
	background: rgba(0,0,0,0.4)
}
.slide-img{
	z-index: -1;
}
.slide-container2{
	margin: 0px auto;
	margin-top: 0;
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 45%;
	text-align: center;

}
.slide-img2{
	position: absolute;
	width: 100%;
	text-align: center;
}

.slide-img2 img{
	width: 45%;
	height: auto;
}
.pre2, .nxt2{
	position: absolute;
	top: 50%;
	z-index: 99;
	cursor: pointer;
	background:#81faa0;
}
.pre2{
	left:20%;
	width: 0;
	height: 0;
	border-top: 1.5vh solid transparent;
	border-bottom: 1.5vh solid transparent;
	border-right: 1.5vh solid #e7e5e5;
}
.nxt2{
	right:20%;
	width: 0;
	height: 0;
	border-top: 1.5vh solid transparent;
	border-bottom: 1.5vh solid transparent;
	border-left: 1.5vh solid #e7e5e5;
}
.nav2{
	width: 100%;
	height: 3vh;
	bottom: -30%;
	position: absolute;
	text-align: center;
	z-index: 99;
	background:#8ff474;
}
.dots2{
	top: 1vh;
	width: 1.5vh;
	height: 1.5vh;
	margin: 0 1vh;
	position: relative;
	border-radius: 50%;
	display: inline-block;
	background: rgba(0,0,0,0.4)
}
.slide-img2{
	z-index: -1;
}
#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four{
	z-index: 9;
} 
#i1:checked ~ .nav #dot1,
#i2:checked ~ .nav #dot2,
#i3:checked ~ .nav #dot3,
#i4:checked ~ .nav #dot4{
	background: rgba(0,0,0,0.8);
} 

.rubrik-container{
	position:relative;
	margin-top: 0;
	
}

.text-container{
	position:relative;
}
.description-container{
	position:relative;
}

.utstallning-list {
	position: absolute;
	top: 25rem;
	left:5rem;
	right: 50rem;
	font-size: calc(0.8vw + 0.8vh);
	color:#001000;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(2, calc(((100vw-57rem)/2)));
	grid-template-rows: auto;
	float:center;	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.eventrubrik {
	position: absolute;
	top: 25rem;
	left:5rem;
	color:#001000;
	font-size: calc(1.1vw + 1.1vh);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.flex-texttrain{
	position: absolute;
	top: 30rem;
	left:5rem;
	display: flex;
	gap: 2rem;
	justify-content: left;
}
.texttrain-item{
	color:#001000;
	font-size: calc(0.8vw + 0.8vh);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	
}
.utstallning-list #past {
	font-size: calc(1.1vw + 1.1vh);
	grid-column: 1 / 3;
	grid-row: 1 / 1;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.helbild {
	position: relative;
	display: block;
	overflow: auto;
}
.helbild img {
	width: 100%;
	height: auto;
}
@media only screen and (min-width: 1000px){
	.helbild img{
		background-size: fit screen;
}





.overlay-text {
		position: absolute;
		top: 30%;
		left: 30%;
		transform: translate(-50%: -50%);
		color:#ffffff;
		font-size: 2rem;
		line-hight: 4rem;
		text-align: center;
}
	.form-container {
		position: absolute;
		color: #585858;
		background-color: #c0c0c0;
		margin: 20px;
		max-width: 20%;
		padding: 16px;
		top: 40%;
		left:30%;
		transform: translate(-45%, -50%);
		border-bottom: #989898 5px solid;
		border-right:  #989898 5px solid;
		border-top: #d8d8d8 2px solid;
		border-left: #d8d8d8 2px solid;
	}
	
	input[type=text], input[type=email], textarea[type=text] {
		width: 90%;
		padding: 15px;
		margin: 5px 0 20px 0;
		border: none;
		background-color: #dcdcdc;
	}


	input[type=text]:focus, input[type=email]:focus, textarea[type=text]:focus {
		background-color: #e8e8e8;
		outline: none;
	}
	
	.btn {
		background-color: #909090;
		color: white;
		padding: 16px 20px;
		border-bottom: #787878 2px solid;
		border-right:  #787878 2px solid;
		border-top: #e8e8e8 1px solid;
		border-left: #e8e8e8 1px solid;
		cursor: pointer;
		width: 100%;
		opacity: 0.9;
	}
	
	.btn:hover {
		opacity: 1;
	}
.info-container {
		position: absolute;
		color: #585858;
		background-color: #c0c0c0;
		margin: 20px;
		max-width: 20vw;
		padding: 16px;
		top: 55%;
		left:70%;
		transform: translate(-45%, -50%);
		border-bottom: #989898 5px solid;
		border-right:  #989898 5px solid;
		border-top: #d8d8d8 2px solid;
		border-left: #d8d8d8 2px solid;
		overflow: auto;
	}
